.header {
  margin-bottom: 50px;
}

.header .conatiner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  padding: 10px 55px;
}

.form__input {
  font-size: 16;
  padding: 10px;
  border: 1px solid grey;
}
